<div class="dashboard">
  <app-header></app-header>

  <div class="dashboard__container">
    <header class="dashboard__header">
      <app-btn [text]="'Create Board'" (click)="openCreateBoardModal()" style="width: 100%"></app-btn>
    </header>

    <ul class="dashboard__board-list">
      <li
        class="dashboard__board-item"
        *ngFor="let board of boards">
        <button
          class="dashboard__btn-board"
          (click)="openBoard(board.id)"
          [style.backgroundImage]="'url(' + boardBackgroundPath + board.background + ')'">
          {{ board.title }}
        </button>
      </li>
    </ul>
  </div>

  <app-create-board-modal *ngIf="isCreateBoardModalOpen" (close)="closeCreateBoardModal()"></app-create-board-modal>
</div>
