.board-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-1);
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-1);
}

.dashboard-header {
  display: flex;
}

.boards-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.board-card {
  aspect-ratio: 2;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.board-card-button {
  width: 100%;
  height: 100%;
  background-color: var(--transparent-background-2);
  backdrop-filter: blur(2px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: clamp(16px, 5vw, 20px);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.background-1 {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.background-2 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.background-3 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.background-4 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.background-5 {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.background-6 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.background-7 {
  background-image: url("/backgrounds/background-1.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-8 {
  background-image: url("/backgrounds/background-2.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-9 {
  background-image: url("/backgrounds/background-3.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-10 {
  background-image: url("/backgrounds/background-4.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-11 {
  background-image: url("/backgrounds/background-5.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-7 .board-card-button,
.background-8 .board-card-button,
.background-9 .board-card-button,
.background-10 .board-card-button,
.background-11 .board-card-button {
  color: white;
}

@media (max-width: 800px) {
  .boards-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
