<div class="board-dashboard">
  <app-header></app-header>

  <section class="dashboard">
    <header class="dashboard-header">
      <button class="btn-base appearance-solid aspect-free radius-small blue size-large"
        (click)="switchCreateBoard()">Create board</button>
    </header>

    <ul class="boards-grid">
      <li class="board-card background-1" *ngFor="let board of boards">
        <button class="board-card-button" (click)="openBoard(board.id)">
          {{ board.title }}
        </button>
      </li>
    </ul>
  </section>

  <app-create-board-modal *ngIf="isOpenCreateBoard" (close)="switchCreateBoard()"></app-create-board-modal>
</div>