.board-member {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  font-size: 18px;
}

.member-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.member-item {
  width: 100%;
}
