<section class="board-member">
  <h1 class="title">Add members</h1>
  <app-input [textLabel]="'Search a user'" [placeholder]="'Username'" (input)="getUsersByUsername($event)"></app-input>
  <ul class="member-list">
    <li class="member-item" *ngFor="let user of usersByUsername">
      <app-btn [text]="user.username" (click)="addUserToBoard(user.id)"></app-btn>
    </li>
  </ul>
  <h1 class="title">Remove members</h1>
  <ul class="member-list">
    <li class="member-item" *ngFor="let user of usersFromBoard">
      <app-btn [color]="'red'" [text]="user.username" (click)="removeUserFromBoard(user.id)"></app-btn>
    </li>
  </ul>
</section>
