<section class="create-task-modal">
  <form class="create-task-modal__form" [formGroup]="createTaskForm" (ngSubmit)="onSubmitCreateTask()">
    <fieldset class="create-task-modal__field">
      <legend class="create-task-modal__label">Select a title</legend>
      <input
        formControlName="title"
        class="input-base appearance-outline aspect-free size-small radius-small blue"
        placeholder="Enter task title"
      />
    </fieldset>
    <fieldset class="create-task-modal__field">
      <legend class="create-task-modal__label">Select a description</legend>
      <textarea
        formControlName="description"
        class="textarea-base size-height-complete appearance-outline aspect-free size-small radius-none blue"
        placeholder="Description"></textarea>
    </fieldset>

    <footer class="create-task-modal__actions">
      <button
        type="submit"
        class="btn-base appearance-solid aspect-free size-medium radius-small blue">
        Create task
      </button>
      <button
        type="button"
        (click)="onClose()"
        class="btn-base appearance-light aspect-free size-medium radius-small red">
        Close
      </button>
    </footer>
  </form>
</section>
