.board-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.board-page__container {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.board-page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-transparent-1);
  backdrop-filter: blur(30px);
  flex: 0 0 auto;
}
