.boards-section {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.title h2 {
  width: 100%;
  font-size: 20px;
  padding-left: 20px;
}

.title .highlight {
  width: 100%;
  height: 1px;
  background-color: #091e4224;
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

#create-board {
  width: 400px;
  height: 45px;
  font-size: 20px;
  background-color: #0d6efd;
  color: #fff;
}

#create-board:hover {
  background-color: #0b5ed7;
}

.opt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.options button {
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.options img {
  width: 45px;
  height: 45px;
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.options button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.options button:hover img {
  transform: scale(0.9);
}

ul {
  display: grid;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill,230px);
  gap: 20px;
  margin: 0;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  width: 12px;
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

@media (max-width: 750px) {
  .title {
    margin-bottom: 20px;
  }

  .title h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  .options {
    flex-direction: column;
    gap: 10px;
  }

  .options button {
    width: 45px;
    height: 45px;
  }

  .options img {
    width: 36px;
    height: 36px;
  }

  #create-board {
    width: 100%;
    height: 34px;
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .content {
    width: 300px;
    height: 500px;
  }

  .options button {
    width: 40px;
    height: 40px;
  }

  .options img {
    width: 30px;
    height: 30px;
  }

  .opt {
    gap: 20px;
  }

  #create-board {
    font-size: 17px;
  }
}
