<div class="boards-section">
  <div class="title">
    <h2>Espacio de trabajo de {{username}}</h2>
    <div class="highlight"></div>
  </div>

  <div class="options">
    <button id="create-board" (click)="OpenPostBoardForm()">Create a team</button>
    <div class="opt">
      <button (click)="OpenUpdateBoardForm()"><img src="./assets/icons/update.svg"></button>
      <button (click)="OpenDeleteBoardForm()"><img src="./assets/icons/delete.svg"></button>
    </div>
  </div>

  <ul>
    <app-basic-pre-view-card (click)="OpenBoard(board)" size="large" color="{{board.theme}}" text="{{board.boardTitle}}" *ngFor="let board of boards"></app-basic-pre-view-card>
  </ul>
</div>
