<div class="boards-section">
  <div class="options">
    <app-generic-button (click)="OpenPostBoardForm()" class="button" type="primary" size="large" text="Create a board"></app-generic-button>
    <div class="opt">
      <button class="update" (click)="OpenUpdateBoardForm()"></button>
      <button class="delete" (click)="OpenDeleteBoardForm()"></button>
    </div>
  </div>
  <ul>
    <app-basic-pre-view-card (click)="OpenBoard(board)" size="medium" color="{{board.theme}}" text="{{board.boardTitle}}" *ngFor="let board of boards"></app-basic-pre-view-card>
  </ul>
</div>
<app-form-post-board class="form" id="form-post-board"></app-form-post-board>
<app-form-delete-board class="form" id="form-delete-board"></app-form-delete-board>
<app-form-update-board class="form" id="form-update-board"></app-form-update-board>
