<div class="board-menu">
  <div class="drawer-overlay" *ngIf="isOpen" (click)="onClose()"></div>
  <div class="drawer" [class.open]="isOpen">
    <header class="board-menu__header">
      <app-btn-back [size]="'40px'" (click)="setMode('menu')"></app-btn-back>
      <app-btn-close [size]="'40px'" (click)="onClose()"></app-btn-close>
    </header>

    <ng-container [ngSwitch]="currentMode">
      <nav *ngSwitchCase="'menu'" class="board-menu__nav-bar">
        <app-btn [color]="'orange'" [text]="'Backgrounds'" (click)="setMode('backgrounds')"></app-btn>
        <app-btn [color]="'orange'" [text]="'Labels'" (click)="setMode('labels')"></app-btn>
        <app-btn [color]="'orange'" [text]="'Members'" (click)="setMode('members')"></app-btn>
        <app-btn-delete-board [board]="board"></app-btn-delete-board>
      </nav>
      <app-menu-background [board]="board" *ngSwitchCase="'backgrounds'"></app-menu-background>
      <app-menu-label [board]="board" *ngSwitchCase="'labels'"></app-menu-label>
      <app-menu-member [board]="board" *ngSwitchCase="'members'"></app-menu-member>
    </ng-container>
  </div>
</div>

