<div class="card-users">
  <input class="user-panel__input" placeholder="Enter username" [(ngModel)]="searchTerm">

  <ul class="user-panel__list">
    <li class="user-panel__item" *ngFor="let user of filteredUsers">
      <button class="user-panel__user-btn" (click)="updateAssignment(user)">
        <app-checkbox [type]="1" [checked]="user.isAssigned"></app-checkbox>
        <h2 class="user-panel__username">{{ user.username }}</h2>
      </button>
    </li>
    <li class="user-panel__no-match" *ngIf="filteredUsers.length === 0">No matches</li>
  </ul>
</div>
