<div class="form-post-board">
  <form [formGroup]="formBoard" class="content">
    <h2>Create your board</h2>
    <app-generic-input-text formControlName="boardTitle" type="text" placeholder="Your board name"></app-generic-input-text>
    <app-generic-button (click)="PostBoard()" buttonType="submit" text="Submit" type="success" size="medium"></app-generic-button>
    <app-generic-button (click)="CloseWindow()" buttonType="reset" text="Cancel" type="danger" size="medium"></app-generic-button>
  </form>
</div>
