<div class="list" *ngIf="list">
  <div class="title">
    <form [formGroup]="formUpdateList">
      <input class="list-title" formControlName="listTitle" type="text">
    </form>

    <button (click)="DeleteList()" class="delete"></button>
  </div>

  <button class="add-card" (click)="OpenPostCard()">Add card</button>

  <ul class="cards">
    <li *ngFor="let card of cards"><app-card [card]="card"></app-card></li>
  </ul>

  <app-form-post-card class="form" id="form-post-card"></app-form-post-card>
</div>
