<section class="board-background">
  <h1 class="title">Select a background</h1>
  <ul class="background-list">
    <li class="background-item"
        *ngFor="let background of boardBackgrounds; let i = index">
      <button class="btn-background"
              (click)="selectBackground(i)"
              [class.selected]="i === selectedBackground">
        <img class="background-image"
             src="{{boardBackgroundPath}}{{background}}"
             alt="background">
      </button>
    </li>
  </ul>
</section>
