.card-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.labels,
.users {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.labels h2,
.users h2 {
  font-size: 16px;
  color: var(--text-1);
}

.users ul,
.labels ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.users li,
.labels li {
  width: auto;
}

.users button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--p-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  color: white;
}

.labels button {
  height: 36px;
  min-width: 70px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  border: none;
}

.description {
  display: flex;
}

.description button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: var(--background-4);
  border: none;
  border-radius: 5px;
  color: var(--text-1);
}

.description button:hover {
  opacity: 0.8;
}

.description textarea {
  width: 100%;
  background-color: transparent;
  color: var(--text-1);
  border: 2px solid transparent;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

.description textarea:focus-visible {
  outline: none;
  border: 2px solid var(--color-blue-500);
  background-color: var(--background-3);
}
