<section class="auth">
  <div class="auth__container">
    <header class="auth__header">
      <img class="auth__logo" src="./Trello.svg" alt="Trello Logo">
      <h1 class="auth__title">Trello</h1>
    </header>

    <h2 class="auth__subtitle" *ngIf="isLogin">Log in to continue</h2>
    <h2 class="auth__subtitle" *ngIf="!isLogin">Sign up to continue</h2>

    <form class="auth__form" *ngIf="isLogin" [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
      <app-input [textLabel]="'Email'" [placeholder]="'Enter your email'" formControlName="email"></app-input>
      <app-input [textLabel]="'Password'" [type]="'password'" [placeholder]="'Enter your password'" formControlName="password"></app-input>
      <app-btn [text]="'Log in'" [type]="'submit'"></app-btn>
    </form>

    <form class="auth__form" *ngIf="!isLogin" [formGroup]="formRegister" (ngSubmit)="onSubmitRegister()">
      <app-input [textLabel]="'Email'" [placeholder]="'Enter your email'" formControlName="email"></app-input>
      <app-input [textLabel]="'Password'" [type]="'password'" [placeholder]="'Enter your password'" formControlName="password"></app-input>
      <app-input [textLabel]="'Username'" [placeholder]="'Enter your username'" formControlName="username"></app-input>
      <app-btn [text]="'Sign up'" [type]="'submit'"></app-btn>
    </form>

    <footer class="auth__footer">
      <a class="auth__link" *ngIf="isLogin" (click)="toggleAuthMode()">Create an account</a>
      <a class="auth__link" *ngIf="!isLogin" (click)="toggleAuthMode()">Log in</a>
    </footer>
  </div>
</section>
