  <form [formGroup]="formPostComment" class="content">
    <h2>Do a comment</h2>

    <app-generic-input-text formControlName="commentDescription" type="text" placeholder="A description"></app-generic-input-text>

    <div class="options">
      <app-generic-button (click)="PostComment()" buttonType="submit" text="Submit" type="success" size="medium"></app-generic-button>
      <app-generic-button (click)="CloseWindow()" buttonType="reset" text="Cancel" type="danger" size="medium"></app-generic-button>
    </div>
  </form>
