.user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-profile__data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-profile__username {
  font-size: 18px;
}

.user-profile__email {
  font-size: 14px;
}
