.teams-section {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
}

ul {
  display: grid;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fill,200px);
  gap: 20px;
  margin: 0;
  max-height: 640px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  width: 12px;
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.opt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: transparent;
}

.delete {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff392a;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.update {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: orange;
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.add-friend {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: greenyellow;
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-friend img {
  width: 24px;
  height: 24px;
}

.delete:hover, .update:hover, .add-friend:hover {
  transform: scale(1.1);
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
