<div class="teams-section">
  <div class="title">
    <h2>Espacio de trabajo de {{username}}</h2>
    <div class="highlight"></div>
  </div>

  <div class="options">
    <button id="create-team" (click)="OpenPostTeamForm()">Create a team</button>
    <div class="opt">
      <button (click)="OpenUpdateTeamForm()"><img src="./assets/icons/update.svg"></button>
      <button (click)="OpenDeleteTeamForm()"><img src="./assets/icons/delete.svg"></button>
      <button (click)="OpenAddFriendForm()"><img src="./assets/icons/add-friend.svg"></button>
      <button (click)="OpenRemoveFriendForm()"><img src="./assets/icons/remove-friend.svg"></button>
    </div>
  </div>

  <ul>
    <li *ngFor="let team of teams"><app-basic-pre-view-card (click)="OpenBoards(team.teamName)" size="large" color="{{team.theme}}" text="{{team.teamName}}"></app-basic-pre-view-card></li>
  </ul>
</div>
