<div class="card-comments">
  <section class="intro">
    <form [formGroup]="formAddComment" (ngSubmit)="addComment()">
      <app-textarea [placeholder]="'A comment'" formControlName="text"></app-textarea>
      <app-btn [type]="'submit'" [text]="'Send'"></app-btn>
    </form>
  </section>

  <section class="comments">
    <ul>
      <li *ngFor="let comment of comments">
        <header>
          <h3>{{comment.authorId}}</h3>
          <label>{{comment.createdAt}}</label>
        </header>
        <p>{{comment.text}}</p>
      </li>
    </ul>
  </section>
</div>
