<div class="card-labels">
  <input class="label-panel__input" placeholder="Enter a label name" [(ngModel)]="searchTerm">

  <ul class="label-panel__list">
    <li class="label-panel__item" *ngFor="let label of filteredLabels">
      <button class="label-panel__label-btn" (click)="label.checked = !label.checked">
        <app-checkbox [type]="2"></app-checkbox>
        <h2 class="label-panel__label-name" [style]="{ backgroundColor: label.color}">{{ label.name }}</h2>
      </button>
    </li>
    <li class="label-panel__no-match" *ngIf="filteredLabels.length === 0">No matches</li>
  </ul>
</div>
