<section class="create-card-modal">
  <form class="create-card-modal__form" [formGroup]="createCardForm" (ngSubmit)="onSubmitCreateCard()">
    <app-input style="width: 100%" [placeholder]="'Enter task title'" [textLabel]="'Select a title'" formControlName="title"></app-input>
    <app-input style="width: 100%" [placeholder]="'Description'" [textLabel]="'Select a description'" formControlName="description"></app-input>

    <footer class="create-card-modal__footer">
      <app-btn style="width: 100%" [appearance]="'appearance-solid'" [type]="'submit'" [text]="'Create list'"></app-btn>
      <app-btn style="width: 100%" [appearance]="'appearance-solid'" (click)="onClose()" [color]="'red'" [text]="'Close'"></app-btn>
    </footer>
  </form>
</section>
