<form class="change-password-form" [formGroup]="formUpdatePassword" (ngSubmit)="onSubmitUpdatePassword()">
  <h1 class="change-password-form__title">Change your password</h1>
  <app-input [textLabel]="'Your old password'"
             [type]="'password'"
             [placeholder]="'Old password'"
             formControlName="oldPassword"
             [error]="getErrorMessage('oldPassword')"></app-input>
  <app-input [textLabel]="'Your new password'"
             [type]="'password'"
             [placeholder]="'New password'"
             formControlName="newPassword"
             [error]="getErrorMessage('newPassword')"></app-input>
  <app-btn [text]="'Change password'" [type]="'submit'"></app-btn>
</form>
