.user-item {
  width: 100%;
  padding: 8px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.user-item:hover {
  background-color: var(--background-1);
}

.user-item__username {
  flex-grow: 1;
  font-size: 14px;
  color: var(--text-1);
}
