.card-content {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
}

.content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 560px;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  position: relative;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
  width: 100%;
}

.description {
  display: flex;
  width: 100%;
  flex-direction: column;
}

h3 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.description p {
  width: 100%;
  padding: 15px;
  background-color: #e4e6ea;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.date p {
  font-size: 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-color: #ff392a;
  border-radius: 50%;
  border: none;
}
