.card-content {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
}

.content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 560px;
  min-height: 400px;
  gap: 10px;
  background-color: white;
  position: relative;
  padding-top: 10px;
}

form {
  width: calc(100% - 50px);
}

.card-title {
  margin: 0;
  font-size: 18px;
  width: 90%;
  border: 2px solid transparent;
  background-color: transparent;
}

.card-title:focus, .card-title:focus-visible {
  color: black;
  background-color: #ffffff !important;
  border: 2px solid #388bff !important;
  outline: 0 !important;
}

.card-title:hover {
  background-color: hsla(0, 0%, 0%, 0.16);
}

.description {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 200px;
}

.description h3 {
  width: 100%;
  margin: 0;
  font-size: 18px;
  background-color: transparent;
  padding: 5px;
}

.description textarea {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  border: 2px solid transparent;
  background-color: transparent;
  border-top: none;
  padding: 8px;
}

.description textarea:focus, .description textarea:focus-visible {
  color: black;
  background-color: #ffffff !important;
  border: 2px solid #388bff !important;
  outline: 0 !important;
}

.description textarea:hover {
  background-color: hsla(0, 0%, 0%, 0.16);
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.date p {
  font-size: 20px;
}

.close {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close p {
  font-size: 24px;
}

.close:hover {
  background: rgba(0, 0, 0, 0.1);
}

.delete-card {
  width: 100%;
  height: 40px;
  border: none;
}

.delete-card:hover {
  background: red;
}

#more-data-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;
}

#options-more-data-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
}

#options-more-data-card button {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
}

#options-more-data-card button:hover {
  background-color: red;
}

#options-more-data-card button[data-selected="true"] {
  background-color: #E9F2FF;
}

.content-more-data-card {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
}

#users-card, #label-card {
  display: none;
}

.post-data-card {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: none;
  background-color: #0d6efd;
  color: #fff;
}

.content-more-data-card ul {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.content-more-data-card li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.content-more-data-card li:hover {
  background-color: #ffffff;
}

#content-comment, #content-user, #content-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-comment .comment-description {
  width: 75%;
  justify-content: start;
}

#content-comment p {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0;
}

#content-comment input {
  margin: 0;
  font-size: 18px;
  width: 100%;
  border: 2px solid transparent;
  background-color: transparent;
}

#content-comment input:focus, #content-comment input:focus-visible {
  color: black;
  background-color: #ffffff !important;
  border: 2px solid #388bff !important;
  outline: 0 !important;
}

#content-comment input:hover {
  background-color: hsla(0, 0%, 0%, 0.16);
}

.content-more-data-card p {
  width: 100%;
  font-size: 16px;
  margin: 0;
}

.comment-operations {
  display: flex;
  gap: 10px;
}

.update-data-card {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: orange;
  border: none;
}

.delete-data-card {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  border: none;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 10;
}

@media (max-width: 750px) {
  .content {
    width: 300px;
    min-height: 400px;
    padding: 10px 5px;
  }

  .card-title {
    font-size: 14px;
  }

  .description {
    height: 200px;
  }

  .description h3 {
    font-size: 12px;
  }

  .description textarea {
    font-size: 10px;
  }

  .date p {
    font-size: 12px;
  }

  .delete-card {
    height: 30px;
    font-size: 14px;
  }

  .close {
    width: 25px;
    height: 25px;
  }

  .close p {
    font-size: 18px;
  }

  .date input {
    width: 120px;
  }
}
