.create-list-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-transparent-1);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  padding: 10px;
}

.create-list-modal__form {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-1);
  padding: 30px;
  gap: 30px;
  border-radius: 5px;
}

.create-list-modal__field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

.create-list-modal__label {
  width: 100%;
  font-size: clamp(16px, 5vw, 22px);
  margin-bottom: 10px;
  color: var(--text-1);
}

.create-list-modal__actions {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
