<router-outlet></router-outlet>
<div id="forms-content">
    <app-form-post-label class="form" id="form-post-label"></app-form-post-label>
    <app-form-post-card-user class="form" id="form-post-card-user"></app-form-post-card-user>
    <app-form-post-card class="form" id="form-post-card"></app-form-post-card>
    <app-form-post-comment class="form" id="form-post-comment"></app-form-post-comment>
    <app-post-list class="form" id="form-post-list"></app-post-list>
    <app-form-post-team class="form" id="form-post-team"></app-form-post-team>
    <app-form-post-board class="form" id="form-post-board"></app-form-post-board>
    <app-form-update-board class="form" id="form-update-board"></app-form-update-board>
    <app-form-update-team class="form" id="form-update-team"></app-form-update-team>
    <app-form-delete-board class="form" id="form-delete-board"></app-form-delete-board>
    <app-form-delete-team class="form" id="form-delete-team"></app-form-delete-team>
    <app-form-remove-friend class="form" id="form-remove-friend"></app-form-remove-friend>
    <app-form-add-friend class="form" id="form-add-friend"></app-form-add-friend>
</div>
