<div class="board">
  <app-header></app-header>

  <section class="board__content background-10">
    <header class="board__header">
      <input class="board__title-input" type="text" value="Board's title" placeholder="Board's title" />
      <button class="board__options-button" (click)="switchBoardMenu()">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
    </header>

    <section class="board__lists">
      <ul class="board__lists-container">
        <li class="board__list" *ngFor="let list of lists">
          <header class="board__list-header">
            <input class="board__list-title-input" type="text" [value]="list.title" placeholder="List title" />
            <button class="board__list-options-button">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </button>
          </header>

          <ul class="board__task-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <li *ngFor="let task of list.tasks; let i = index; trackBy: trackByFn" cdkDrag>
              <button class="board__task-button">{{ task.title }}</button>
            </li>
          </ul>                  

          <button class="board__add-task-button" (click)="addTask(list.id)">
            Add Task
          </button>
        </li>
        
        <li class="board__list-add">
          <button class="board__add-list-button" (click)="addList()">
            + Add List
          </button>
        </li>
      </ul>
    </section>
  </section>
  <app-board-menu *ngIf="isOpenBoardMenu" (close)="isOpenBoardMenu = false"></app-board-menu>
</div>