<div class="board-view">
  <app-header></app-header>

  <main class="board-content background-3">
    <header class="board-header">
      <input
        class="board-title-input"
        type="text"
        value="Board's title"
        placeholder="Board's title"
      />
      <button class="board-options-button" (click)="switchBoardMenu()">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
    </header>

    <section class="lists-section">
      <ul class="lists-container">
        <li class="board-list">
          <header class="list-header">
            <input
              class="list-title-input"
              type="text"
              value="list title"
              placeholder="List title"
            />
            <button class="list-options-button">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </button>
          </header>

          <ul class="task-list">
            <li>
              <button class="task-button">
                task name
              </button>
            </li>
          </ul>

          <button class="add-task-button">
            Add Task
          </button>
        </li>
        
        <li class="board-list-add">
          <button class="add-list-button">
            + Add List
          </button>
        </li>
      </ul>
    </section>
  </main>
</div>
