.board-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

app-header {
  flex: 0 0 auto;
}

.board-content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Fondos */
.background-1 {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.background-2 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.background-3 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.background-4 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.background-5 {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.background-6 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* Área principal del board */
.board-content {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

/* Encabezado del board */
.board-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(60px);
  flex: 0 0 auto;
}

.board-title-input {
  max-width: 400px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.5, 1);
}

.board-title-input:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.board-title-input:focus-visible {
  outline: none;
  background-color: white;
  color: #000;
}

/* Sección de listas */
.lists-section {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-x: auto;
}

.lists-container {
  display: flex;
  gap: 20px;
}

/* Scrollbar personalizado */
.lists-container::-webkit-scrollbar {
  height: 10px;
}

.lists-container::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 10px;
}

.lists-container::-webkit-scrollbar-thumb:hover {
  background-color: #aeaeae;
}

/* Lista individual */
.board-list {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px) contrast(120%) brightness(90%);
}

/* Encabezado de cada lista */
.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-title-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-1);
}

.list-title-input:focus-visible {
  outline: 2px solid var(--color-blue-500);
  background-color: white;
}

/* Lista de tareas */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.task-button {
  width: 100%;
  padding: 10px;
  text-align: start;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 20px;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.task-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Botón para agregar una tarea a la lista */
.add-task-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-transparent-1);
  color: var(--text-1);
}

/* Elemento para agregar una nueva lista */
.board-list-add {
  width: 300px;
  min-width: 300px;
}

.add-list-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-transparent-1);
  color: var(--text-1);
}
