.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

app-header {
  flex: 0 0 auto;
}

.board__content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background-1 {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.background-2 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.background-3 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.background-4 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.background-5 {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.background-6 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.background-7 {
  background-image: url("/backgrounds/background-1.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-8 {
  background-image: url("/backgrounds/background-2.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-9 {
  background-image: url("/backgrounds/background-3.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-10 {
  background-image: url("/backgrounds/background-4.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-11 {
  background-image: url("/backgrounds/background-5.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.board__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--transparent-background-1);
  backdrop-filter: blur(30px);
  flex: 0 0 auto;
}

.board__title-input {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-size: 22px;
  border-radius: 5px;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.5, 1);
}

.board__title-input:hover {
  background-color: var(--transparent-background-3);
}

.board__title-input:focus-visible {
  outline: none;
  background-color: var(--text-color);
  color: var(--text-color-complement);
}

.board__options-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  transition: all .1s ease-in-out;
}

.board__options-button:hover {
  background-color: var(--transparent-background-3);
}

.board__options-button .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.board__lists {
  min-width: 100%;
  height: 100%;
  padding: 20px;
  overflow-x: auto;
}

.board__lists::-webkit-scrollbar {
  height: 12px;
}

.board__lists::-webkit-scrollbar-thumb {
  background-color: var(--transparent-background-1);
  border-radius: 5px;
}

.board__lists::-webkit-scrollbar-thumb:hover {
  background-color: var(--transparent-background-4);
}

.board__lists-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.board__list {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--transparent-background-1);
  backdrop-filter: blur(20px) contrast(120%) brightness(90%);
}

.board__list-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.board__list-title-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
  transition: all .2s ease-in-out;
}

.board__list-title-input:focus-visible {
  outline: none;
  background-color: var(--text-color);
  color: var(--text-color-complement);
}

.board__list-options-button {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  transition: all .1s ease-in-out;
}

.board__list-options-button:hover {
  background-color: var(--transparent-background-3);
}

.board__list-options-button .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.board__task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.board__task-list::-webkit-scrollbar {
  width: 8px;
}

.board__task-list::-webkit-scrollbar-thumb {
  background-color: var(--transparent-background-1);
  border-radius: 5px;
}

.board__task-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--transparent-background-4);
}

.board__task-button {
  width: 100%;
  padding: 10px;
  text-align: start;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--transparent-background-2);
  line-height: 20px;
  color: var(--text-color);
  transition: background-color 0.1s ease-in-out;
}

.board__task-button:hover {
  background-color: var(--transparent-background-1);
}

.board__add-task-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  transition: all .2s ease-in-out;
}

.board__add-task-button:hover {
  background-color: var(--transparent-background-1);
}

.board__list-add {
  width: 300px;
  min-width: 300px;
  padding-right: 20px;
}

.board__add-list-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--transparent-background-2);
  backdrop-filter: blur(20px) contrast(120%) brightness(90%);
  color: white;
  transition: all .2s ease-in-out;
}

.board__add-list-button:hover {
  background-color: var(--transparent-background-1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform .25s cubic-bezier(0, 0, 0.2, 1);
}
