.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-1);
  padding: 20px;
}

.header__brand {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__title {
  font-size: clamp(20px, 5vw, 28px);
  color: var(--color-blue-500);
}

a {
  text-decoration: none;
}
