<div class="change-theme">
  <div class="content">
    <h2>Change your theme</h2>
    <ul>
      <li><button (click)="ChangeTheme('rgb(0, 121, 191)')" class="blue"></button></li>
      <li><button (click)="ChangeTheme('rgb(210, 144, 52)')" class="orange"></button></li>
      <li><button (click)="ChangeTheme('rgb(81, 152, 57)')" class="green"></button></li>
      <li><button (click)="ChangeTheme('rgb(176, 70, 50)')" class="red"></button></li>
      <li><button (click)="ChangeTheme('rgb(137, 96, 158)')" class="purple"></button></li>
      <li><button (click)="ChangeTheme('rgb(205, 90, 145)')" class="pink"></button></li>
      <li><button (click)="ChangeTheme('rgb(75, 191, 107)')" class="lime"></button></li>
      <li><button (click)="ChangeTheme('rgb(0, 174, 204)')" class="sky"></button></li>
      <li><button (click)="ChangeTheme('rgb(131, 140, 145)')" class="grey"></button></li>
    </ul>
  </div>
</div>

