<div class="board-menu">
  <div class="drawer-overlay" *ngIf="isOpen" (click)="onClose()"></div>
  <div class="drawer" [class.open]="isOpen">
    <header>
      <app-btn-back (click)="mode = 'menu'"></app-btn-back>
      <app-btn-close (click)="onClose()"></app-btn-close>
    </header>

    <section *ngIf="mode == 'menu'" class="options">
      <app-btn [text]="'Backgrounds'" [color]="'orange'" [appearance]="'appearance-ghost'" [size]="'s-small'" [rounded]="'r-small'" (click)="mode = 'background'"></app-btn>
      <app-btn [text]="'Labels'" [color]="'orange'" [appearance]="'appearance-ghost'" [size]="'s-small'" [rounded]="'r-small'" (click)="mode = 'label'"></app-btn>
      <app-btn [text]="'Friends'" [color]="'orange'" [appearance]="'appearance-ghost'" [size]="'s-small'" [rounded]="'r-small'" (click)="mode = 'friend'"></app-btn>
    </section>

    <section class="content" *ngIf="mode == 'background'"></section>

    <section class="content" *ngIf="mode == 'label'"></section>

    <section class="content" *ngIf="mode == 'friend'"></section>

    <footer class="actions" *ngIf="mode == 'menu'">
      <app-btn [text]="'Delete board'" [appearance]="'appearance-solid'" [size]="'s-medium'" [color]="'red'"></app-btn>
    </footer>
  </div>
</div>

