.card-comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea-add-comment {
  width: 100%;
  background-color: transparent;
  color: var(--text-1);
  border: 2px solid transparent;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

.textarea-add-comment:hover {
  background-color: var(--background-1);
}

.textarea-add-comment:focus-visible {
  outline: none;
  border: 2px solid var(--color-blue-500);
}

.btn-send {
  padding: 6px 20px;
  background-color: var(--color-blue-500);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  width: 100%;
}

.comments li {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments header {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 10px;
}

.comments h3 {
  font-size: 18px;
  color: var(--text-1);
}

.comments label {
  font-size: 12px;
  margin-bottom: 3px;
  color: var(--text-1);
}

.comments textarea {
  width: 100%;
  background-color: transparent;
  color: var(--text-1);
  border: 2px solid transparent;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

.comments textarea:focus-visible {
  outline: none;
  border: 2px solid var(--color-blue-500);
}
