<div class="card">
  <app-header></app-header>
  <div class="card-view">
    <div class="card-container">
      <header class="card-header">
        <app-checkbox [type]="1"></app-checkbox>
        <input class="title-card" placeholder="Card title" value="Card title">
        <app-btn-close [size]="'32px'" (click)="onClose()"></app-btn-close>
      </header>

      <div class="card-content">
        <ng-container [ngSwitch]="currentMode">
          <app-card-details *ngSwitchCase="'details'"></app-card-details>
          <app-card-users *ngSwitchCase="'users'"></app-card-users>
          <app-card-labels *ngSwitchCase="'labels'"></app-card-labels>
          <app-card-comments *ngSwitchCase="'comments'"></app-card-comments>
        </ng-container>
        <nav class="nav-bar">
          <button class="btn-option" (click)="setMode('details')" [class.active]="currentMode == 'details'">🏠 Details</button>
          <button class="btn-option" (click)="setMode('users')" [class.active]="currentMode == 'users'">👤 Users</button>
          <button class="btn-option" (click)="setMode('labels')" [class.active]="currentMode == 'labels'">🏷 Labels</button>
          <button class="btn-option" (click)="setMode('comments')" [class.active]="currentMode == 'comments'">💬 Comments</button>
          <button class="btn-delete">Delete</button>
        </nav>
      </div>
    </div>
  </div>
</div>
